@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kumbh Sans', sans-serif !important;
}

/* font-family: 'Noto Sans',
sans-serif;
font-family: 'Source Serif 4',
serif; */