@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kumbh Sans', sans-serif !important;
}

ul.navbar-nav > li:last-child > a {
    background:#41b6e6;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center !important;
    text-transform: uppercase;
}


@media (max-width: 768px) {
ul.navbar-nav>li:last-child>a {
        background: #002855;
        border-radius: 10px;
        padding: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center !important;
        text-transform: uppercase;
    }
}

ul.navbar-nav>li:last-child>a.nav-link {
    margin-top:5px;
}

ul.navbar-nav>li:last-child>a.nav-link.active {
    color: #fff;
}

.navbar-nav li {
    margin: 0px 10px 0px 10px;
}

.dropdown-item, .dropdown-item:hover {
    border-radius:5px;
}

.bg-main {
    position: relative;
    width: 100%;
    height: 75vh;
    background: url('img/bg1.jpg') no-repeat top center;
    background-size:cover;
    box-shadow: inset 0 0 0 2000px rgba(82, 82, 82, 0.15);
}

.bg-meeting {
    background: url('./img/bg-meeting.webp') no-repeat center bottom;
    background-size: contain;
    box-shadow: inset 0 0 0 2000px rgba(36, 36, 36, 0.3);
}

.hero-h1 {
    font-size: 2.0rem;
}

.hero-h2 {
    font-size: 3.8rem;
}

.hero-h3 {font-size: 3.0rem;}

@media (max-width: 768px) {
    .bg-main {
        position: relative;
        width: 100%;
        height: 35vh;
        background: url('img/bg1.jpg') no-repeat bottom;
        background-size:cover;
        box-shadow: inset 0 0 0 2000px rgba(82, 82, 82, 0.15);
    }

    .hero-h1 { font-size: 2.0rem; }
    .hero-h2 { font-size: 0.5rem; }
    .hero-h3 { font-size: 1.2rem; }        
}

.newsimg {
    position: relative;
    padding: 4px 4px 0px 0px;
    width: 95%;
}

.newsdesc {
    background: rgba(12, 20, 48, 0.85);
    position: absolute;
    top: 80px;
    right: 4px;
    height: 120px;
    width: 70%;
}

.newsdesc p {}

.news {
    overflow: hidden;
}

.news:hover img {
    scale: 1.1;
    transition: all 400ms ease-out;
}

.model {
    width:100%;
    height:500px;
    transition: all 400ms ease-out;
}

.model:hover {
    /* border: 5px solid rgb(227, 6, 19); */
    background: #002855 !important;
    color:#fff !important;
}

.model:hover .text-primary, .model:hover .text-black {
    color:#fff !important;
}

/* .model-box:nth-of-type(odd) .model{
    width:90%;
    min-height:740px;
} */

#scrolltop {
    background: rgba(87, 87, 86, .4);
}

#scrolltop:hover {
    background: #002855;
}

#scrolltop {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s ease-in;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 8px;
    padding:5px;
}

.top-button {
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    padding: 12px;
    color: #fff;
}

.overlay {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 1;
}

.stage {
    position:relative;
    padding: 10px;
    transition: all 200ms ease-out;
    cursor:pointer;  
}

.stage:hover {
    border-bottom: 0px
}

.stage:before{
    content:'';
    width:100%;
    height:3px;
    background:#41b6e6;
    position:absolute;
    left:0;
    bottom:0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: linear-gradient(to left, rgb(194, 194, 194) 50%, #41b6e6 50%) right;
    background-size: 200%;
  }

  .stage:hover:before {
      background-position: left;
  }

.vicon {
    background: rgb(255, 255, 255);
    border-radius:20px;
    width:120px;
    height:120px;
    transition: .7s ease;
    padding:10px;
}

.model:hover .vicon svg, .stage:hover .vicon svg {
    scale: 1.2;
    transition: all 400ms ease-out;
    fill: #41b6e6;
}

.model:hover .vicon {rotate: 45deg;}
.model:hover .vicon svg {
    rotate: -45deg;
}

.privacy-link {color:#cfcfcf;}
.privacy-link:hover {color:#fff;}

.model-desc ul li {
    list-style-type: none;
    margin-top:15px;
}

.model-desc ul li::before {
    content: url('./img/icons/check-mark.svg');  
    float:left;
    width: 10px;
    height: 10px;
    margin:0px 25px 0px 0px;
}

.news-title {
min-height: 60px;
    float: left;
}

.news-excerpt-text {
    min-height: 250px;
    text-align: justify;
}