@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kumbh Sans', sans-serif !important;
}

.vicon { width:33%;}

/* font-family: 'Noto Sans',
sans-serif;
font-family: 'Source Serif 4',
serif; */

.logo-min {
    -webkit-animation: fadein 1s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s;
        /* Firefox < 16 */
        -ms-animation: fadein 1s;
        /* Internet Explorer */
        -o-animation: fadein 1s;
        /* Opera < 12.1 */
        animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

article h1::after, article h2::after, article h3::after, article h4::after, article h5::after, article h6::after {
    display:none;
}

a.nav-link {
    color: #fff;}

.menu-item {
    position: relative;
}

.menu-item:hover:after {
    content:'';
    background:#f8f0e7;
    height:2px;
    width:100%;
    position: absolute;
    margin:0 auto;
    bottom:0;
    -webkit-animation: fadein 1s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s;
        /* Firefox < 16 */
        -ms-animation: fadein 1s;
        /* Internet Explorer */
        -o-animation: fadein 1s;
        /* Opera < 12.1 */
        animation: fadein 1s;
        opacity: 1;
}


.breadcrumbs a {
    color:#fff !important;
}

h1.noafter::after, h2.noafter::after, h3.noafter::after, h4.noafter::after, h5.noafter::after, h6.noafter::after {
    content: '';
    border: none !important;
    display:none;
}

h1 span, h2 span {font-style: italic;}

.model {
    border: 5px solid transparent;
}

.model:hover {
    border: 5px solid #f8f0e7;
}

.model .vicon img {
    transition: all 400ms ease-out;
  }

.model:hover .vicon img {
  scale: 1.1;
  transition: all 400ms ease-out;
}

.model:hover h3::after {
    border:2px solid rgb(161, 57, 65);
}

.model:hover p {
    color: #000 !important;
}

.form-control:focus {
    background: rgba(0,0,0,0.06) !important;
    box-shadow: none !important;
}

.btn svg {
    display:none;
    margin-right: 30px;
    transition: all 400ms ease-in-out;
}

.btn:hover svg {
    display:block;
    margin-right:1px;
    transition: all 400ms ease-in-out;
}

.bg-slider {
    /* background-color: #f8f0e7; */
    background-color: #fff;
}

.slider-header {
    text-align: left;
}

.slider-header::after {
    content: '';
    border: none !important;
}

.query-form {
    border:5px solid #fff;
    min-height: 300px;
    background-color: #fff;
    font-weight: bold;
    font-size:1.2em;
}

a .query-form {
    color:#000;
    border:5px solid #f8f0e7;
}


a:hover .query-form {
    color:#000;
}

.bg-primary2, .offcanvas {
    background-color: #531e1e;
}

.offcanvas-title {
    color:#fff;
}

.lawyer-description {
    position: absolute;
    color: #fff;
    top: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    transition: all 400ms ease-out;
    /*cubic-bezier(.59, -0.47, .83, .67); */
    font-size: 1.2rem;
}

.lawyer:hover .lawyer-description {
    top: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    margin-top: 60%;
    background: rgba(0, 0, 0, 0.4);
    transition: all 400ms ease-out; 
     /* cubic-bezier(.54, 1.58, .67, .92); */
}

.person-border {
    border: 5px solid #d7af7d;
}